@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@100;200;300;400;500;600&display=swap");
body {
  font-family: "Inter", sans-serif;
  color: #252b2d !important;
}

.main-wrapper {
  width: 100%;
  justify-content: space-between;
  display: flex;
  position: relative;
  .main-content {
    border-right: solid 1px #2c383c;
    width: 75%;
    @media screen and (min-width: 1440px) {
      width: 80%;
    }

    .layout-content {
      > p {
        font-family: "Sofia Sans Extra Condensed", sans-serif;
        font-weight: 400;
        font-size: 22px;
      }
    }

    .container-content {
      padding-left: 48px;
      .title {
        width: 100%;
        max-width: 1280px;
        padding: 64px 48px 64px 0;
        margin-left: auto;
        margin-right: auto;
      }
      .layout-content {
        padding: 32px 48px 128px 0px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1280px;
        grid-column-gap: 112px;
        align-items: flex-start;
        display: flex;
      }
    }

    .section-hero {
      width: 100%;
      min-height: 100vh;
      color: #f3f8ea;
      background-color: #30391c;
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      .container-heading {
        width: 100%;
        padding: 48px;
        margin-right: auto;
        margin-left: auto;
        .heading-layout {
          max-width: 912px;
          grid-row-gap: 48px;
          flex-direction: column;
          display: flex;
        }
      }
    }
    .section-about {
      .content {
        display: flex;
        flex-direction: column;
        gap: 70px;
        .main-block {
          width: 100%;
          max-width: 33rem;
          display: flex;
          flex-direction: column;
          gap: 30px;
        }
        .sub-block {
          max-width: 960px;
          grid-column-gap: 72px;
          grid-row-gap: 16px;
          grid-template-rows: auto;
          grid-template-columns: 1fr 1fr 1fr;
          grid-auto-columns: 1fr;
          align-items: flex-start;
          display: grid;
          .sub-title {
            letter-spacing: -0.5px;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.2;
          }
        }
      }
    }
    .section-tech-info {
      .content {
        grid-column-gap: 70px;
        grid-row-gap: 70px;
        color: #2c383c;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        display: grid;
        .service-item {
          height: 100%;
          grid-row-gap: 38px;
          letter-spacing: -0.3px;
          flex-direction: column;
          align-items: flex-start;
          font-weight: 400;
          display: flex;
        }
      }
    }
    .section-price {
      .layout-content {
        flex-direction: column;
        .price-item:first-child {
          border-top: 1px solid black;
          border-bottom: 1px solid black;
        }
        .price-item {
          font-family: "Sofia Sans Extra Condensed", sans-serif;
          border-bottom: 1px black solid;
          column-gap: 15px;
          align-items: center;
          flex-grow: 1;
          display: grid;
          grid-template-rows: minmax(max-content, 100%);
          grid-template-columns: 1fr 1.3fr 0.7fr;
          width: calc(100vw - 600px);
          max-width: 1400px;
          @media screen and (max-width: 750px) {
            row-gap: 0px;
            column-gap: 0px;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
          }
          .title {
            padding: 0px;
            text-transform: uppercase;
            font-size: xx-large;
            @media screen and (max-width: 750px) {
              width: 343.7890625px px;
              align-self: start;
              margin-left: 0%;
              margin-top: 21.375px;
              grid-area: 1/1/2/2;
            }
          }
          .info {
            @media screen and (max-width: 750px) {
              width: 149.3828125px;
              align-self: end;
              justify-self: start;
              margin-right: 0%;
              margin-top: 0px;
              margin-bottom: 31.0234375px;
              grid-area: 1/1/2/2;
            }
            .time {
              font-size: 35px;
            }
            .text {
              font-size: 20px;
            }
          }
          .price {
            font-size: 60px;
            justify-self: end;
          }
        }
      }
    }
  }
  .navbar {
    width: 25%;
    height: 100vh;
    color: #d1d1d1;
    flex-direction: column;
    flex: none;
    justify-content: space-between;
    padding: 48px;
    display: flex;
    position: sticky;
    top: 0;
    @media screen and (min-width: 1440px) {
      width: 20%;
    }
    .menu-wrapper {
      grid-row-gap: 10px;
      flex-direction: column;
      display: flex;
      .menu-layout {
        grid-row-gap: 4px;
        flex-direction: column;
        display: flex;
        button {
        }
        a {
          opacity: 0.6;
          letter-spacing: -0.5px;
          font-size: 18px;
        }
      }
    }
  }
}
